body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    'nav status'
    'nav main'
    ;
}

.grid-container div {
    border: 4px solid black;
}

.nav-bar {
    grid-area: nav;
}

.status-bar {
    grid-area: status;
}

.main-container {
    grid-area: main;
}